# Packages
*.egg
*.egg-info
dist
build
eggs
cover
parts
bin
*__pycache__

# Unknown
.idea
.coverage
*.pyc
.ipynb_checkpoints

# Packages
powerline/bin
powerline/lib

# local settings
mysql_conf.py

report.txt
