# powerline
tabulate
numpy
pandas

# development
nose
nose-timer
flake8
coverage
nose-ignore-docstring

# zipline branch
-e git://github.com/grundgruen/zipline.git@gg-zip#egg=zipline

# strategy development
sklearn
-e git://github.com/quantopian/pyfolio.git#egg=pyfolio
