# zipline requirements
numpy
pandas
cython
matplotlib

# powerline requirements
scipy
sqlalchemy
mysql-connector-python
sqlacodegen
tabulate

# development requirements
nose-timer
flake8
coverage

# zipline branch
-e git://github.com/grundgruen/zipline.git@gg-zipline#egg=zipline
