# zipline
numpy
pandas
Cython
matplotlib
contextlib2==0.4.0

# powerline
scipy
sqlalchemy
mysql-connector-python
sqlacodegen
tabulate

# development
nose
nose-timer
flake8
coverage

# messaging
-e git://github.com/renshawbay/pika-python3.git#egg=pika3

# zipline branch
-e git://github.com/grundgruen/zipline.git@gg-zip-new#egg=zipline
